body
{
    background-color:#EEEEEE;
    font-family: fantasy;
}

table
{
    width:70%;
    border:0;
    margin:auto;
}

h2
{
    background-color:#002200;
    color:white;
    padding:15px 14px 15px 0;
    text-align:center;
    margin:0;
}

.image
{
    text-align: center;
    margin-top: 25px;
}

h3
{
    background-color:#002200;
    color:white;
    padding:5px;
    margin-top:20px;
}

p
{
    text-align: justify;
    margin-top: 0;
}

hr
{
    border: 3px solid #002200;
    margin : 25px 0 2px; 
}

.last
{
    border: 1px solid #002200;
    margin-bottom:15px;
    margin-top: -11px;   
}