.main
{
    margin: 139px auto;
    width:228px;
    height:303px;
    background:radial-gradient(#D6E9FE,#F2FCFF,#DCEEFE);
    border: 1px solid black;
    border-radius: 9px;
}

.main img:first-child
{
    padding:4px 0 0 7px;
}

span
{
    position: relative;
    bottom:9px;
    font-family: verdana;
    font-size: 11px;
}

.main img:last-child
{
    float:right;
    margin:0 5px 15px 0;
}

.panel
{
    background:linear-gradient(#F2FCFF,#DAE7F7);
    border: 1px solid black;
    width:212px;
    height:263px;
    position: relative;
    bottom:412px;
    margin: auto;
    cursor: default;
}

input
{
    background: linear-gradient(#E7EFFC,#FBFFFF);
    width: 183px;
    height: 35px;
    margin: 6px 11px;
    border: 1px solid #949CA7;
    border-radius: 2px;
    text-align: right;
    color: transparent;
    text-shadow: 0px 0px 0px #3C3D3F;
    outline: none;
    font-weight: bold;
    font-size: 25px;
    padding-right:4px;
    padding-top: 15px;
    cursor: default;
}

button
{
    height:27px;
    width: 33px;
    border: 1px solid #8B95A1;
    border-radius: 2px;
    margin: 0 -9px 6px 11px;
    background: linear-gradient(#FBFFFF,#E7EFFC);
}

img[alt = c]
{
    margin: 0 1px -1px 0;
}

.panel button:nth-child(20),button:nth-child(21)
{
    padding-bottom:4px;
}

.panel button:last-child
{
    padding-left:32px;
    padding-right:38px;
}

button:hover
{
    border-color:#0078D7; 
}








